.wrapper {
    padding: 50px 0;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}
.subtitle {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #111111;
}
.form {
    margin-top: 20px;
    margin-bottom: 30px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fieldArray {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.divider {
    width: 15px;
}
.card {
    margin: 20px 0;
}